.player {
    position: relative;
}

@media (min-width: 360px) {
    .player {
        min-width: 100vw;  
        width: 100vw;
    }
}

@media (min-width: 720px) {
    .player {
        min-width: 100vw;  
        width: 100vw;  
    }
}   

@media (min-width: 900px) {
    .player {
        min-width: 80vw;  
        width: 80vw;  
    }
}
    
@media (min-width: 1420px) {
    .player {
        min-width: 65vw;  
        width: 65vw;  
    }
}