@page "/about"

<div>
    <DisplayHeading Size="DisplayHeadingSize.Is4" TextColor="TextColor.Primary">About</DisplayHeading>
    <Divider DividerType="DividerType.TextContent" Text="" />
    <Paragraph TextColor="TextColor.Primary">Made by
        <Link To="https://github.com/ghandyuk/" Target="Target.Blank">@@ghandyuk</Link>
    </Paragraph>
    <Text TextColor="TextColor.Primary">Source repository: </Text>
    <Link To="https://github.com/ghandyuk/RandomNaniClip" Target="Target.Blank">
    https://github.com/ghandyuk/RandomNaniClip</Link>
    <Paragraph TextColor="TextColor.Primary">tldr; made in c#/blazor, published to github pages</Paragraph>
</div>
